@charset "UTF8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-escuro: #1F4D2B;
    --verde: #2E6B34;
    --verde-claro: #8FBF6A;
    --bege: #F4F1E8;
    --verde-fundo: #C7D9B3;
    --branco: #FFFFFF;
    --texto: #2F2F2F;
    --verde-fundo: #C7D9B3;

    --fonte-titulo: "Playfair Display", serif;
    --fonte-subtitulo: "Poppins", sans-serif;
    --fonte-texto: "Poppins", sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
}


body {
    text-align: justify;
    background-color: var(--bege);

}

header {
    background-color: rgb(0, 8, 255);
    width: 100%;
}

header div {
    display: grid;
    place-items: center;
}

.logo {

    width: 95vw;
    padding: 10px 0px 10px 0px;
}


.barradnav {
    background-color: var(--branco);
    height: 8vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-auto-flow: column;
    font-family: var(--fonte-subtitulo);
}

nav a {
    background-color: var(--verde-fundo);
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 20px;
    color: var(--verde);

}

a:hover {
    background-color: var(--verde);
    color: var(--branco);
    transition: .6s;
}


.conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.sol {
    background-color: #1F4D2B;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.336);
}

.sombra {
    background-color: var(--verde-fundo);
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.336);
}


.produto {
    height: 200px;
    object-fit: cover;
    width: 100%;

}

.detalhes {
    text-align: left;
}

footer {
    background-color: var(--verde-escuro);
    height: 40px;
    width: 100vw;


}

footer p {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100vw;
}